.container {
    width: 1000px;
    height: 1000px;
    background-color: saddlebrown;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    animation-name: quadrat-box;
    animation-duration: 3000ms;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  
  @keyframes quadrat-box {
    0% {
      transform: translate(10px) rotate(0deg) skew;
      background-color: green;
    }
    25% {
      transform: translate(890px, 10px) rotate(90deg);
      background-color: purple;
    }
    50% {
      transform: translate(890px, 890px) rotate(-90deg);
      background-color: peachpuff;
    }
    75% {
      transform: translate(10px, 890px) rotate(90deg);
      background-color: royalblue;
    }
    100% {
      transform: translate(10px, 10px) rotate(-90deg);
      background-color: burlywood;
    }
  }